<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.MinseoKangQ.mybatis.mapper.PostMapper">

    <!-- C -->
    <insert id="createPost" parameterType="dev.MinseoKangQ.mybatis.dto.PostDto">
        insert into POST(title, content, writer, board)
        values (#{title}, #{content}, #{writer}, ${board})
        <!-- #{title} == 'title', ${title} == title -->
    </insert>
    <insert id="createPostAll"
            parameterType="dev.MinseoKangQ.mybatis.dto.PostDto">
        insert into POST(title, content, writer, board)
        values
        <!-- 반복시킬 내용 -->
        <foreach collection="list" item="item" separator=",">
            (#{item.title}, #{item.content}, #{item.writer}, ${item.board})
        </foreach>
    </insert>

    <!-- R -->
    <select id="readPost" parameterType="int" resultType="dev.MinseoKangQ.mybatis.dto.PostDto">
        <!-- id가 동일한 post 보여주게 됨 -->
        select * from post where id = ${id}
    </select>
    <select id="readPostAll" resultType="dev.MinseoKangQ.mybatis.dto.PostDto">
        <!-- 모든 것 보여주기 -->
        select * from post
    </select>
    <select
            id="readPostQuery"
            parameterType="dev.MinseoKangQ.mybatis.dto.PostDto"
            resultType="dev.MinseoKangQ.mybatis.dto.PostDto">
        select * from post
        where title = #{title}
        <!-- null 에 대한 처리 -->
        <if test="writer != null">
            and writer = #{writer}
        </if>
    </select>
    
    <!-- U -->
    <update id="updatePost" parameterType="dev.MinseoKangQ.mybatis.dto.PostDto">
        update post
            set
                title = #{title},
                content = #{content},
                writer = #{writer},
                board = ${board}
            where id = ${id}
    </update>

    <!-- D -->
    <delete id="deletePost" parameterType="int">
        delete from post where id = ${id}
    </delete>

</mapper>